:root {
    --color-principal: #a11b1b;
    --color-secundario: #d4af37;
    --color-fondo: #fefaf3;
    --color-titulo: #1a1a1a;
    --color-texto: #2b2b2b;
    --color-border: #c0b283;
    --color-hover-tabla: #ec2894;
    --color-hover-enlaces: #4eaff4;
    --color-hover-button: #FA3A14;
    --color-active-button: #14FABD;
    --color-enlace: #5f15b3;
    --color-visited: #98e220;
    --sombra: 0 0 20px rgb(41, 41, 247);
    --font-titulos: "Merriweather", serif;
    --font-parrafos: "Open Sans", sans-serif;
    --tamano-texto: 14px;
    --tamano-h1: 2.5rem;
    --tamano-h2: 2rem;
    --tamano-h3: 1.5rem;
    --espaciado: 15px;
    --radio-bordes: 8px;
    --radio-button: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-principal: #ff6f61;
        --color-secundario: #ffd700;
        --color-fondo: #080808;
        --color-titulo: #f0f0f0;
        --color-texto: #dcdcdc;
        --color-bordes: #333;
        --color-hover: #f372ca;
        --color-enlace: #b480f0;
        --color-visited: #b7ef5c;
        --color-border-dark: #fefaf3;
        --sombra: 0 0 20px rgb(244, 241, 87);
    }
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--font-parrafos);
    font-size: var(--tamano-texto);
    margin: var(--espaciado);
    padding: 0;
    

}

main {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav section form";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--espaciado)
}

header {
    background-color: var(--color-principal);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: var(--radio-bordes);
}

header #t1{
    font-size:2.75rem;
}

header #t2{
    font-size:1.9rem;
}
header #t3{
    font-size:1.45rem;
}
h1, h2, h3, h4, h5{
    font-family: var(--font-titulos);
    color: var(--color-titulo);
    margin-bottom: var(--espaciado);
}

h1{ font-size: var(--tamano-h1); }

h2{ font-size: var(--tamano-h2); }

h3{ font-size: var(--tamano-h3); }

a{
     font-family: var(--font-parrafos);
     text-decoration: none;
     color: var(--color-enlace);
}

table a:hover{ color: var(--color-hover-enlaces); }

table a:visited{ color: var(--color-visited); }

table a:active{ color: #2b2b2b; }

table{
    width: 100%;
    border-collapse: collapse;
    border-color: var(--color-border-dark);
    margin-top: var(--espaciado);
    margin-right: 16px;
}

table th, td{
    border: 1px solid var(--color-border);
    padding: var(--espaciado);
    text-align: center;
}

table th{
    background-color: var(--color-secundario);
    color: #0A0A0A
}

table td:hover{
    background-color: var(--color-hover-tabla);
    color: #FFFFFF;
}

section {
    margin-top: var(--espaciado);
    gap: var(--espaciado);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
article h3 { 
    text-shadow: var(--sombra); 
    justify-content: center;
}

article{
    flex: 40%;
    text-align: center;
    border-radius: var(--radio-bordes);
    padding: var(--espaciado);
}

img{
    width: 40%;
    border-radius: var(--radio-bordes);
}

a img:hover{
    border: 3px solid #ff6f61;
}

a img:active{
    border: 3px solid var(--color-hover-enlaces);
}

ul {
    list-style-image: url(img/clock-fill.svg);
    list-style-position: inside;
    padding-left: 20px;
    list-style-type: style color #FBFCFA;
}

li{
    margin-bottom: 8px;
}

aside form{
    display: flex;
    flex-direction: column;
    gap: var(--espaciado);
    background-color: var(--color-secundario);
    padding: var(--espaciado);
    border-radius: var(--radio-bordes);
    color: #080707;
}

input[type="radio"] {
  accent-color: var(--color-principal);
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border-color: var(--color-principal);
  font-size: 2rem;
}

select{
    border-radius: var(--radio-bordes);
    padding: 8px;
    font-size: 1rem;
    font-family: var(--font-parrafos);
    background-color: #C3FAEB;
    height: 40px;
    width: 350px;
}

select:focus{
    outline: none;
    border-width: 6px;
    border-color: #6DB557;
}

input {
    border-color: var(--color-principal);
    height: 40px;
    width: 530pt;
}

.inputext{
    font-size: 20px;
}

.inputext:focus{
    outline: none;
    border-width: 6px;
    border-color: #6DB557;
}

.button{
    background-color: var(--color-principal);
    color: #FFFFFF;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--font-parrafos);
    margin-top: var(--espaciado);
    border-radius: var(--radio-button);
}

.button:hover{
    background-color: var(--color-hover-button);
}

.button:active{
    background-color: var(--color-active-button);
}

