:root {
    --color-principal: #a11b1b;
    --color-secundario: #d4af37;
    --color-fondo: #fefaf3;
    --color-titulo: #1a1a1a;
    --color-texto: #2b2b2b;
    --color-border: #c0b283;
    --color-hover: #f5d76e;
    --font-titulos: "Merriweather", serif;
    --font-parrafos: "Open Sans", sans-serif;
    --tamano-texto: 16px;
    --tamano-h1: 2.5rem;
    --tamano-h2: 2rem;
    --tamano-h3: 1.5rem;
    --espaciado: 12px;
    --radio-bordes: 8px;
    --sombra: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-principal: #ff6f61;
        --color-secundario: #ffd700;
        --color-fondo: #1e1e1e;
        --color-titulo: #f0f0f0;
        --color-texto: #dcdcdc;
        --color-bordes: #333;
        --color-hover: #444;
    }
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--font-parrafos);
    font-size: var(--tamano-texto);
    margin: var(--espaciado);
    padding: 0;
}

header {
    background-color: var(--color-principal);
    padding: var(--espaciado);
}

h1, h2, h3, h4, h5{
    font-family: var(--font-titulos);
    color: var(--color-titulo);
    margin-bottom: var(--espaciado);
}