h1, p, li{
           font-family: Arial, Helvetica, sans-serif;
        }

p, li{
   color: rgb(0, 175, 0)
}


header{
   background-color: black;
}
h1{
   color: aliceblue;
}
ol li, .texto_Azul{
   color: blue;
}
.conBorde{
   border: 1px solid green;
}
#destacado{
   background-color: brown;
}