main{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    column-gap: 10px;

}

nav, section, aside{
    border: 2px solid #0000FF;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around; /*Colocar elementos verticalmente*/
    align-items: center; /* Centrar los elementos horizontalmente*/
}

a:hover{
    font-size: 1.5rem;
}

aside{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

img{
    width: 100%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

article{
    width: 40%;
    border: 1px solid green;
}