body{
    font-size: 16px;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1.2rem;
    line-height: 2rem;
}

li{
    font-size: 0.7rem;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-shadow: 2px 2px 4px red;
    color: darkred;
    font-size: 2rem;
}

p, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.a_la_izquierda{
    text-align: left;
}

.a_la_derecha{
    text-align: right;
}

.al_centro{
    text-align: center;
}

.justificado{
    text-align: justify;
}

#destacado{
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 5px;

    text-transform: capitalize;
    text-indent: 15px;

    border: 5px solid blueviolet;
    padding: 10px;
    margin-bottom: 25px;
}